<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <div class="icon"><img src="{{ url_for('static', filename='img/Logo_Branco.png') }}" alt="JENC Logo" style="max-width: 120px; height: auto;"></div>
        <h1>Área JDC</h1>
        <p class="subtitle">Insira a palavra-passe </p>
        <form method="POST">
            <input type="password" name="password" placeholder="Password (dica: a melhor pessoa que conhecem)" required autocomplete="off">
            <button type="submit">Login</button>
        </form>
        {% if error %}
        <div class="message error">Essa não é a melhor pessoa que conhecem.</div>
        {% endif %}
        <a class="admin-link" href="/">Voltar atrás</a>
    </div>
</body>
</html>
